/* tagselector, idselector, class selector{
    property: value
} */


h1{
    color: aquamarine;
    border: 1px solid purple;
}

#id_h1{
    color: brown;
}

.class_h1{
    color: tomato;
    border: none;
}
/* written from repo  */
/* written from the device */
/* testing for the vcs in vscode  */
/*linechange test repo  */
