.object{
    height: 200px;
    width: 150px;
    float: left;
    ;

}
.object1{
    background-color: #4f4f58;
    height: 200px;
    width: 150px;
}
.object2{
    background-color: #4b735e;
    height: 200px;
    width: 150px;
}
.object3{
    background-color: #3bae68;

}
.object4{
    background-color: #00d74c;
}
.object5{
    background-color: #cecece;
}
.line1{
    margin-left: auto;
    margin-right: auto;
    border: #000000;

}

