/* .parent{
    background-color: aqua;
    width: 50%;
    height: 100px;
} */
/* 
.child{
    background-color: purple;
    /* percentage changes inrespect to parent */
    /* width: 70%; */
    /* viewport respects the total viewing space(body) */
    /* width: 70vw;
    height: 50px;   } */

body{
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.parent{
    width: 100%;
    height: 500px;
}

.child{
    width: 24%;
    height: 300px;
    float: left;
}
.child-one{
    background-color: aqua;
}
.child-two{
    background-color: yellow;
}
.child-three{
    background-color: rgb(15, 203, 115);
}
.child-four{
    background-color: rgb(168, 9, 139);
}



